* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.navbar-body {
  position: fixed;
  padding-top: 0;
  width: 100%;
}

.navbar-body ul {
  list-style: none;
  text-align: right;
}

.home-body {
  padding-top: 1px;
  height: 100vh;
  background-color: skyblue;
}

.projects-body {
  height: 100vh;
  background-color: white;
}

.blogcontainer-body {
  margin: auto;
  height: 100vh;
  background-color: red;
}



.resume-body {
  padding-top: 1px;
  height: 100vh;
  background-color: blue;
}

/* .blogcard-body{
  display: inline;
} */




/* ********************************************* */

li {
  list-style-type: none;
}

.blog {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 8rem;
  margin-left: 1rem;

  padding-top: 5;
  padding-right: 1rem;
  padding-bottom: 8rem;
  padding-left: 5rem;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  
}

